 1.Write a program to reverse the order of list

In [7]:
# Function to reverse a list
def reverse_list(lst):
    return lst[::-1]# Slicing method to reverse the list

# Define a list
my_list = [1,2,3,4,5]

# Call the function to reverse the list
reversed_list = reverse_list(my_list)

# Print the reversed list
print(reversed_list)

[5, 4, 3, 2, 1]

 2.Write a program to check number of occurrences of specified elements in the list

In [8]:
#Function to count the occurrences of an element in a list
def count_occurance(list,element):
    # Use the count() method to get the frequency of the element
    return list.count(element)

# Define the list and the element to count
list = [3,2,4,5,6,2,4,2]
element = 2

# Call the function and store the result
occurance_count = count_occurance(list,element)

# Print the occurrence count
print(occurance_count)

3

3.Write program to append the list1 with list2 in the front

In [4]:
#Define List1
list1 = [1,2,"one","Two"]

#Define List2
list2 = [3,4,"Three","Four"]

## Concatenate both lists
result = list1 + list2

#Print the concatenated list
print(result)

[1, 2, 'one', 'Two', 3, 4, 'Three', 'Four']

4.Write program to insert new item before the second element

In [5]:
# Define list1
list1 = [1,3,4,5]

#Define List2
## Insert the value 2 at index position 1
list1.insert(1,2)
#(1,2) where 1-->index postiton and 2-->new item

## Print the updated list
print(list1)

[1, 2, 3, 4, 5]

5.Write program to remove first occurrence of specified elements in the list,first you check which number is repeated and then remove it.

In [21]:
# Define the list
list = [1,2,3,3,4,5,6]

# Iterate through the list to find duplicates
for item in list:
    if list.count(item) > 1: # Check if the item appears more than once
        list.remove(item) # Remove the first occurrence of the duplicate
        break # Exit the loop after removing one duplicate

# Print the updated list
print(list)

[1, 2, 3, 4, 5, 6]

In [6]:
# Define the list
list = [1,2,3,4,3]

# Remove the first occurrence of the value 3
list.remove(3)

# Print the updated list
print(list)

[1, 2, 4, 3]

6.write a program to check whether an element exist in a tuple or not

In [25]:
# Define a tuple
tup = (1,2,3,4,5)
# Element to check
element = 6

# Check if the element exists in the tuple
if element in tup:
    print("exist")# Prints if the element is found
else:
    print("not exist")# Prints if the element is not found

not exist

In [27]:
# Define a tuple
tup = (1,23,4)
# Element to check
element = 24
# Check if the element exists in the tuple using the count() method
if tup.count(element) > 0:
    print("exist")# Prints if the element is found
else:
    print("not exist")# Prints if the element is not found

not exist

7.write program to replace last value of each tuple in list to 100

In [3]:
# Define a tuple
tup = (20,40,60,80,90)
print(tup)# Print the original tuple

#convert tuple to list
lst = list(tup)
# Modify the 5th element (index 4) of the list
lst[4] = 100
# Convert the modified list back to a tuple
tup = tuple(y)
#Prient the modified List
print(lst)

(20, 40, 60, 80, 90)
[20, 40, 60, 80, 100]

8.write a program to add a key and value in the dictionary

In [5]:
# Define a dictionary
rec = {"Name":"Ishwari",
       "Rollno":35,
       "Div":"A"
      }
# Print the original dictionary
print(rec)
# Add a new key-value pair for 'mobileno'
rec["mobileno"] = 123455
# Print the updated dictionary
print(rec)

{'Name': 'Ishwari', 'Rollno': 35, 'Div': 'A'}
{'Name': 'Ishwari', 'Rollno': 35, 'Div': 'A', 'mobileno': 123455}

9.Write program to concatenate dictionary

In [6]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Merge dictionaries using unpacking (** operator)
concat_dict = {**dict1,**dict2}

# Print the merged dictionary
print(concat_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

10.write program to create dictionary where the keys are from 1 to 15 and values are from square of the numbers

In [7]:
# Create a dictionary using dictionary comprehension
# Keys: Numbers from 1 to 15, Values: Their squares

dict = {i:i**2 for i in range(1,16)}
# Print the generated dictionary
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

11.Write a program to sum of all values in the dictionary

In [8]:
# Define the dictionary
dict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
#Now Calculate the sum of values
sum_value = sum(dict.values())
# Print the sum of the values
print(sum_value)

385

12.Write the code to Find the Factorial of The Given number

In [ ]:
def factorial(n):
    result = 1
    for in range(1,n+1):
        result *= i
    return result

num = int(input("Enter the number"))
print("Factorial is",factorial(num))