Problem Statement : 

Kitabi Duniya, a famous book store in India, which was established before Independence, the growth of the company was
incremental year by year, but due to online selling of books and wide spread Internet access its annual growth started 
to collapse, seeing sharp downfalls, you as a Data Scientist help this heritage book store gain its popularity back and 
increase footfall of customers and provide ways the business can improve exponentially, apply Association RuleAlgorithm,
explain the rules, and visualize the graphs for clear understanding of solution.

The book dataset can be a valuable resource for bookstores, publishers, and online platforms to address various business challenges:

Customer Insights: By examining which books are being purchased frequently or receiving high ratings, businesses can make informed decisions about which titles to promote, stock in larger quantities, or suggest to specific customer segments.

Personalized Recommendations: Creating a recommendation system based on user behavior, past purchases, or reviews allows businesses to provide tailored book suggestions, enhancing the user experience and driving higher sales.

Efficient Inventory Management: Identifying popular genres, authors, or individual titles can help businesses streamline their inventory. Stocking more of what sells and reducing less popular books minimizes overstock and maximizes profit.

Targeted Marketing Campaigns: Using sales and review data, publishers or retailers can create marketing strategies aimed at specific genres or reader groups, promoting upcoming releases or trending books in line with customer preferences.

In [8]:
#Import required libraries
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [9]:
df=pd.read_csv("book.csv")
df

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [10]:
df.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

In [11]:
#Our dataset is in proper format that is required for Apriori(i.e 0,1)
#step2:Apply the apriori algorithm to find frequent itemsets
frequent_itemsets=apriori(df,min_support=0.1,use_colnames=True)
frequent_itemsets

C:\Users\ADMIN\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                       itemsets
0    0.4230                     (ChildBks)
1    0.2475                     (YouthBks)
2    0.4310                      (CookBks)
3    0.2820                     (DoItYBks)
4    0.2145                       (RefBks)
5    0.2410                       (ArtBks)
6    0.2760                      (GeogBks)
7    0.1135                     (ItalCook)
8    0.1085                     (Florence)
9    0.1650           (ChildBks, YouthBks)
10   0.2560            (ChildBks, CookBks)
11   0.1840           (ChildBks, DoItYBks)
12   0.1515             (ChildBks, RefBks)
13   0.1625             (ChildBks, ArtBks)
14   0.1950            (ChildBks, GeogBks)
15   0.1620            (YouthBks, CookBks)
16   0.1155           (YouthBks, DoItYBks)
17   0.1010             (YouthBks, ArtBks)
18   0.1205            (YouthBks, GeogBks)
19   0.1875            (CookBks, DoItYBks)
20   0.1525              (RefBks, CookBks)
21   0.1670              (CookBks, ArtBks)
22   0.1925             (CookBks, GeogBks)
23   0.1135            (CookBks, ItalCook)
24   0.1055             (RefBks, DoItYBks)
25   0.1235             (ArtBks, DoItYBks)
26   0.1325            (DoItYBks, GeogBks)
27   0.1105              (RefBks, GeogBks)
28   0.1275              (ArtBks, GeogBks)
29   0.1290  (ChildBks, YouthBks, CookBks)
30   0.1460  (ChildBks, CookBks, DoItYBks)
31   0.1225    (ChildBks, RefBks, CookBks)
32   0.1265    (ChildBks, CookBks, ArtBks)
33   0.1495   (ChildBks, CookBks, GeogBks)
34   0.1045  (ChildBks, DoItYBks, GeogBks)
35   0.1020    (ChildBks, ArtBks, GeogBks)
36   0.1015    (ArtBks, CookBks, DoItYBks)
37   0.1085   (CookBks, DoItYBks, GeogBks)
38   0.1035     (CookBks, ArtBks, GeogBks)

In [14]:
#step3:Generate association rules from the frequent itemsets
rules=association_rules(frequent_itemsets,metric="lift",min_threshold=1)

In [15]:
#step4:Output the results
print("Frequent Itemsets:")
print(frequent_itemsets)

Frequent Itemsets:
    support                       itemsets
0    0.4230                     (ChildBks)
1    0.2475                     (YouthBks)
2    0.4310                      (CookBks)
3    0.2820                     (DoItYBks)
4    0.2145                       (RefBks)
5    0.2410                       (ArtBks)
6    0.2760                      (GeogBks)
7    0.1135                     (ItalCook)
8    0.1085                     (Florence)
9    0.1650           (ChildBks, YouthBks)
10   0.2560            (ChildBks, CookBks)
11   0.1840           (ChildBks, DoItYBks)
12   0.1515             (ChildBks, RefBks)
13   0.1625             (ChildBks, ArtBks)
14   0.1950            (ChildBks, GeogBks)
15   0.1620            (YouthBks, CookBks)
16   0.1155           (YouthBks, DoItYBks)
17   0.1010             (YouthBks, ArtBks)
18   0.1205            (YouthBks, GeogBks)
19   0.1875            (CookBks, DoItYBks)
20   0.1525              (RefBks, CookBks)
21   0.1670              (CookBks, ArtBks)
22   0.1925             (CookBks, GeogBks)
23   0.1135            (CookBks, ItalCook)
24   0.1055             (RefBks, DoItYBks)
25   0.1235             (ArtBks, DoItYBks)
26   0.1325            (DoItYBks, GeogBks)
27   0.1105              (RefBks, GeogBks)
28   0.1275              (ArtBks, GeogBks)
29   0.1290  (ChildBks, YouthBks, CookBks)
30   0.1460  (ChildBks, CookBks, DoItYBks)
31   0.1225    (ChildBks, RefBks, CookBks)
32   0.1265    (ChildBks, CookBks, ArtBks)
33   0.1495   (ChildBks, CookBks, GeogBks)
34   0.1045  (ChildBks, DoItYBks, GeogBks)
35   0.1020    (ChildBks, ArtBks, GeogBks)
36   0.1015    (ArtBks, CookBks, DoItYBks)
37   0.1085   (CookBks, DoItYBks, GeogBks)
38   0.1035     (CookBks, ArtBks, GeogBks)

In [16]:
print("\nAssociation Rules:")
print(rules[['antecedents','consequents','support','confidence','lift']])

Association Rules:
           antecedents         consequents  support  confidence      lift
0           (ChildBks)          (YouthBks)   0.1650    0.390071  1.576044
1           (YouthBks)          (ChildBks)   0.1650    0.666667  1.576044
2           (ChildBks)           (CookBks)   0.2560    0.605201  1.404179
3            (CookBks)          (ChildBks)   0.2560    0.593968  1.404179
4           (ChildBks)          (DoItYBks)   0.1840    0.434988  1.542511
..                 ...                 ...      ...         ...       ...
95  (CookBks, GeogBks)            (ArtBks)   0.1035    0.537662  2.230964
96   (ArtBks, GeogBks)           (CookBks)   0.1035    0.811765  1.883445
97           (CookBks)   (ArtBks, GeogBks)   0.1035    0.240139  1.883445
98            (ArtBks)  (CookBks, GeogBks)   0.1035    0.429461  2.230964
99           (GeogBks)   (CookBks, ArtBks)   0.1035    0.375000  2.245509

[100 rows x 5 columns]