## 1. Business Problem

In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('Disaster_tweets_NB.csv')
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [4]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
#Selects 3 rows from the DataFrame
df.sample(3)

,id,keyword,location,text,target
865,1250,blood,NaN,Bruh white people buy the ugliest shoes and th...,0
4596,6536,injury,beijing .China,Rory McIlroy to Test Ankle Injury in Weekend P...,0
2976,4273,drowning,"Madison, WI",@NigelTanner1 Believe it or not we've had too ...,1

In [6]:
#Will get the summary of a DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [7]:
#Check the null values
df.isna().sum() 
#from ouput we can see that there are zero null values

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [8]:
#Now will check shape of the data
df.shape

(7613, 5)

In [10]:
#summary of the numerical columns in a DataFrame. 
df.describe() #by this we came to know min ,max,std,mean 25%,75%,50%

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

#It Will check the duplicate values.
df.duplicated().sum()

## EDA

In [13]:
#Will get the summary of a DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [14]:
df['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [15]:
df['text'][df['target']==1][0]

'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'

In [16]:
df['text'][df['target']==1][1]

'Forest fire near La Ronge Sask. Canada'

In [17]:
df['text'][df['target']==1][3]

'13,000 people receive #wildfires evacuation orders in California '

In [18]:
df['text'][df['target']==1][5]

'#RockyFire Update => California Hwy. 20 closed in both directions due to Lake County fire - #CAfire #wildfires'

In [19]:
df['text'][df['target']==1].shape

(3271,)

In [20]:
df['text'][df['target']==1]

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
                              ...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 3271, dtype: object

In [21]:
df[df['target']==1].shape

(3271, 5)

In [22]:
df['text'][df['target']==1][7608]

'Two giant cranes holding a bridge collapse into nearby homes http://t.co/STfMbbZFB5'

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [24]:
df.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [25]:
df.shape

(7613, 5)

In [26]:
# triming the values

## Preprocessing

In [27]:
df=df.dropna()

In [28]:
df

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...,...
7575,10826,wrecked,TN,On the bright side I wrecked http://t.co/uEa0t...,0
7577,10829,wrecked,#NewcastleuponTyne #UK,@widda16 ... He's gone. You can relax. I thoug...,0
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0

In [29]:
df.shape

(5080, 5)

In [30]:
df.isnull().sum()

id          0
keyword     0
location    0
text        0
target      0
dtype: int64

In [31]:
df.sample(4)

,id,keyword,location,text,target
871,1262,blood,Htx,Today was such a hastle from getting drug test...,0
4332,6152,hijack,"Port Harcourt, Nigeria",Plans by former First Lady and wife of ex-Pres...,1
3541,5063,famine,"New York, USA",'Food crematoria' provoke outrage amid crisis ...,1
6074,8677,sinkhole,Hinterestland,Sinkhole Selfies: You Wont Believe What's In T...,0

In [32]:
X=df.iloc[:,:-1]
y=df['target']

In [33]:
# spliting of data 
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2,random_state=42)

In [34]:
# vectorzing the word 
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.feature_extraction.text import TfidfTransformer

In [35]:
vector=CountVectorizer()
x_train_cv = vector.fit_transform(X_train)

In [36]:
x_test_cv=vector.fit_transform(X_test)

In [37]:
x_train_cv.shape
X_train.shape

(4064, 4)

## Model Selection

In [38]:
from sklearn.naive_bayes import MultinomialNB 
clf1=MultinomialNB()

In [39]:
y_train

5732    1
3873    0
3382    0
6664    0
3233    1
       ..
6604    1
709     0
4602    0
5609    1
1312    0
Name: target, Length: 4064, dtype: int64

In [40]:
x_train_cv.shape

(4, 4)

In [41]:
X=X.iloc[:,1:]

In [42]:
k=vector.fit_transform(X['keyword'])

In [43]:
numerical_df = pd.DataFrame(k.toarray(), columns=vector.get_feature_names_out())

In [44]:
numerical_df.shape

(5080, 239)

In [45]:
X.shape

(5080, 3)

In [46]:
k=vector.fit_transform(X['text'])

In [47]:
numerical_df1 = pd.DataFrame(k.toarray(), columns=vector.get_feature_names_out())

In [48]:
numerical_df1.shape

(5080, 16420)

In [49]:
k=vector.fit_transform(X['location'])
numerical_df2 = pd.DataFrame(k.toarray(), columns=vector.get_feature_names_out())
numerical_df2.shape

(5080, 3261)

In [50]:
new_df =pd.DataFrame()

In [51]:
combined = pd.concat([numerical_df, numerical_df1, numerical_df2], ignore_index=True)

In [52]:
combined.shape

(15240, 18418)

In [53]:
combined_columns = pd.concat([numerical_df, numerical_df1, numerical_df2], axis=1)
combined_columns.shape

(5080, 19920)

In [54]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test =train_test_split(combined_columns,y,test_size=0.2,random_state=42)

In [55]:
from sklearn.naive_bayes import MultinomialNB 
clf1=MultinomialNB()

In [56]:
clf1.fit(X_train,y_train)

MultinomialNB()

n a Jupyter environment, please rerun this cell to show the HTML representation or trust the notebook.
On GitHub, the HTML representation is unable to render, please try loading this page with nbviewer.org.

In [57]:
y_pre=clf1.predict(X_test)